@import url(https://fonts.googleapis.com/css?family=Cinzel&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
html,
body {
  padding: 0;
  background: #262626;
  margin: 0;
  font-family: 'Cinzel';
}


* {
  box-sizing: border-box;
}
